<?xml version='1.0' encoding='utf-8'?>
<widget id="com.app.magellan.partners" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns="http://www.w3.org/ns/widgets" version="0.1.1">
  <name>Magellan Partners</name>
  <description>
    Magellan Partners Ios mobile application
  </description>
  <author email="stephnguets@yahoo.fr">
    Stephane Nguetseng
  </author>
   <preference name="Orientation" value="portrait" />
   <preference name="KeepRunning" value="true"/>
   <preference name="iosExtraFilesystems" value="library,library-nosync,documents,documents-nosync,cache,bundle,root" />
   <preference name="EnableDeveloperConsole" value="$IS_DEBUG" />

   <param name="onload" value="true"/>
   <plugin name="cordova-plugin-x-toast" spec="2.7.3" />
   <plugin name="cordova-plugin-screen-orientation" spec="3.0.2" />
   <!-- <plugin name="cordova-plugin-file-transfer" spec="https://github.com/ishigo1987/cordova-plugin-file-transfer.git" /> -->
   <!-- <plugin name="cordova-plugin-file-7.0.0-for-Late" spec="https://github.com/ishigo1987/cordova-plugin-file-7.0.0-for-Late.git" /> -->
   <plugin name="tabris-plugin-firebase" spec="https://github.com/eclipsesource/tabris-plugin-firebase.git" />
   <plugin name="wm-filepicker-plugin" spec="https://github.com/ishigo1987/wm-filepicker-plugin.git" />
   <plugin name= "Cordova-tabris-crop-plugin" spec="https://github.com/ishigo1987/Cordova-tabris-crop-plugin.git" />

   <platform name="ios">
      
       <preference name="deployment-target" value="14.0" />

       <resource-file src="GoogleService-Info.plist" />

       <preference name="SwiftVersion" value="5.0"/>

      <edit-config target="NSPhotoLibraryAddUsageDescription" file="*-Info.plist" mode="merge">
          <string>Permission pour accéder la galerie pour sauvegarder des photos.</string>
      </edit-config>

      <config-file platform="ios" parent="NSCameraUsageDescription" target="*-Info.plist">
            <string>Permission pour utiliser l'appareil photo pour capturer des photos.</string>
        </config-file>

      <edit-config target="NSPhotoLibraryUsageDescription" file="*-Info.plist" mode="merge">
          <string>Permission pour accéder a la galerie pour récupérer des photos.</string>
      </edit-config>

        <!-- iOS 8.0+ -->
        <!-- iPhone 6 Plus  -->
        <icon src="res/ios/icon-60@3x.png" width="180" height="180" />
        <!-- iOS 7.0+ -->
        <!-- iPhone / iPod Touch  -->
        <icon src="res/ios/icon-20@3x.png" width="60" height="60" />
        <icon src="res/ios/icon-60@2x.png" width="120" height="120" />
        <!-- iPad -->
        <icon src="res/ios/icon-76.png" width="76" height="76" />
        <icon src="res/ios/icon-76@2x.png" width="152" height="152" />
        <!-- Spotlight Icon -->
        <icon src="res/ios/icon-40.png" width="40" height="40" />
        <icon src="res/ios/icon-40@2x.png" width="80" height="80" />
        <!-- iOS 6.1 -->
        <!-- iPhone / iPod Touch -->
        <icon src="res/ios/icon-20@3x.png" width="60" height="60" />
        <icon src="res/ios/icon@2x.png" width="120" height="120" />
        <!-- iPad -->
        <!-- <icon src="res/ios/icon-72.png" width="72" height="72" />
        <icon src="res/ios/icon-72@2x.png" width="144" height="144" /> -->
        <!-- iPad Pro -->
        <!-- <icon src="res/ios/icon-167.png" width="167" height="167" /> -->
        <!-- iPhone Spotlight and Settings Icon -->
        <icon src="res/ios/icon-29.png" width="29" height="29" />
        <icon src="res/ios/icon-29@2x.png" width="58" height="58" />
        <icon src="res/ios/icon-29@3x.png" width="87" height="87" />
        <!-- iPad Spotlight and Settings Icon -->
        <!-- <icon src="res/ios/icon-50.png" width="50" height="50" />
        <icon src="res/ios/icon-50@2x.png" width="100" height="100" /> -->
        <!-- iTunes Marketing Image -->
        <icon src="res/ios/icon~ios-marketing.png" width="1024" height="1024" />

        <!-- Configurations d'écran de démarrage spécifiques à iOS -->
        <splash src="res/ios/screen/splashscreen.png" />
      
  </platform>

</widget>
